{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}

{% load static %}

{% block content %}

<div class="container text-center">
    <div class="row">
      <div class="col-12">
        <h2 id="titulo">Quizá pueda interesarte</h2>
        <hr>
      </div>
    </div>
  </div>
  
  <!-- Carousel con imágenes de medios de transporte -->
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <div id="carouselCromi" class="carousel slide carousel-fade" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselCromi" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselCromi" data-bs-slide-to="1" class="active" aria-current="true"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselCromi" data-bs-slide-to="2" class="active" aria-current="true"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <!-- Carousel 1 -->
            <div class="carousel-item active">
              <img id="Carousel1" src="{% static 'core/img/1.jpg' %}" class="d-md-block w-100" alt="...">
              <div class="carousel-caption bg-dark rounded" id="fondo-info-img1">
                <h5>Nuevos transportes</h5>
                <p>Circulación de nuevos buses RED</p>
              </div>
            </div>
            <!-- Carousel 2 -->
            <div class="carousel-item">
              <img id="Carousel2" src="{% static 'core/img/2.png' %}" class="d-md-block w-100" alt="...">
              <div class="carousel-caption bg-dark rounded" id="fondo-info-img2">
                <h5>Estado del servicio</h5>
                <p>Consulta las variaciones en el servicio de Metro</p>
              </div>
            </div>
            <!-- Carousel 3 -->
            <div class="carousel-item">
              <img id="Carousel3" src="{% static 'core/img/3.jpg' %}" class="d-md-block w-100" alt="...">
              <div class="carousel-caption bg-dark rounded" id="fondo-info-img3">
                <h5>Tarifas</h5>
                <p>Variación según pase escolar o Bip!</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselCromi" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselCromi" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <br>
        <div class="box">
          <h4><i>Actualización de trabajos recientes</i></h4>
          <p>Servicio suspendido en Línea 1 (santiaguinos sorprendidos), hora aproximada de reestablecimiento 14:03hrs.
          <p>
            <a id="leer1" href="">Saber más</a>
        </div>
        <div class="box">
          <h4><i>Ayuda y reclamos</i></h4>
          <p>Si tienes alguna duda con algún servicio, ¡Contáctanos!, consulta en la sección específica para más
            información.
          <p>
            <a id="leer2" href="#">Saber más</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Cards con informaciones de servicios -->
  <div class="container py-5">
    <div class="row">
      <!-- Primera card -->
      <div class="col-4">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img id="ImagenCard1" src="{% static 'core/img/4.png' %}" class="img-fluid rounded-start  d-block"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Consulta paradero</h5>
                <p id="ParrafoCard1" class="card-text">Ingresa el código del paradero para obtener información del bus
                  más cercano. Consulta la sección específica para más información.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Segunda card -->
      <div class="col-4">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img id="ImagenCard2" src="{% static 'core/img/5.png' %}" class="img-fluid rounded-start  d-block"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Saldo Bip!</h5>
                <p id="ParrafoCard2" class="card-text">Consulta el saldo de tu tarjeta con tu id, además, accede al
                  servicio de carga desde tu celular. Para más información visita la página de <a class="link"
                    href="https://www.tarjetabip.cl/cargaonline.php" target="_blank">TarjetaBip.cl</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tercera card -->
      <div class="col-4">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img id="ImagenCard3" src="{% static 'core/img/6.png' %}" class="img-fluid rounded-start  d-block"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Rutas de Metro</h5>
                <p id="ParrafoCard3" class="card-text">Accede al mapa con las diferentes líneas de Metro con todas
                  combinaciones. Variación según horarios correspondientes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Artículo metro -->
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <div class="card mb-3 mx-auto" id="cardArticulo">
          <div class="row g-0">
            <div class="col-12">
              <img class="img-flex" id="imgMetroA" src="{% static 'core/img/7.jpg' %}" alt="...">
            </div>
            <div class="col-12">
              <div class="card-body">
                <h5 class="card-title" id="tituloMetroA">Contigo desde 1975</h5>
                <p class="card-text" id="textoMetroA">El Metro de Santiago es uno de los sistemas más modernos de
                  Latinoamérica, siendo también la
                  red más extensa de Sudamérica y la segunda red más extensa de América Latina después del Metro de la
                  Ciudad de
                  México.
                  Pese a que la idea de construir un metro para la ciudad de Santiago se venía planificando desde
                  mediados de la
                  década de los cuarenta, no fue sino hasta 1965 cuando se consolidó el proyecto.
  
                  En 1969 comenzaron las obras de construcción de la Línea 1 en la intersección de las calles Las Rejas
                  con La
                  Alameda, las que culminaron el 15 de septiembre de 1975 cuando los santiaguinos pudieron subirse por
                  primera
                  vez a un carro del metro y recorrer la distancia entre las estaciones San Pablo y La Moneda bajo
                  tierra.
                </p>
                <button id="btnMetro" type="button" class="btn btn-danger">Leer más artículos</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}